## Disclaimer
This data analysis is not meant for any reference purpose and its result may not be accurate. Any insights from this reference is not recommended to use for any educational or research purpose or any other. The Sex Ratio in this analysis taken as number of females per 1000 males. 

### Data Source: Censusindia.gov.in

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [49]:
df = pd.read_excel('https://censusindia.gov.in/2011census/C-01/DDW00C-01%20MDDS.XLS')
df.head(7)

  Unnamed: 0 Unnamed: 1 Unnamed: 2  ...          Unnamed: 31 Unnamed: 32 Unnamed: 33
0      Table      State     Distt.  ...                  NaN         NaN         NaN
1       Name       Code       Code  ...  Religion not stated         NaN         NaN
2        NaN        NaN        NaN  ...              Persons       Males     Females
3        NaN        NaN        NaN  ...                   25          26          27
4        NaN        NaN        NaN  ...                  NaN         NaN         NaN
5        NaN        NaN        NaN  ...                  NaN         NaN         NaN
6      C0100         00        000  ...              2867303     1463712     1403591

[7 rows x 34 columns]

In [50]:
df.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)
df.head(7)

  Unnamed: 5 Unnamed: 6  ... Unnamed: 32 Unnamed: 33
0  Area Name     Total/  ...         NaN         NaN
1        NaN     Rural/  ...         NaN         NaN
2        NaN      Urban  ...       Males     Females
3        NaN        NaN  ...          26          27
4        NaN        NaN  ...         NaN         NaN
5        NaN        NaN  ...         NaN         NaN
6      INDIA      Total  ...     1463712     1403591

[7 rows x 29 columns]

In [51]:
df.drop([0,3,4,5],axis=0,inplace=True)
df.reset_index(inplace=True)
del df['index']
df.head(7)

                 Unnamed: 5 Unnamed: 6  ... Unnamed: 32 Unnamed: 33
0                       NaN     Rural/  ...         NaN         NaN
1                       NaN      Urban  ...       Males     Females
2                     INDIA      Total  ...     1463712     1403591
3                     INDIA      Rural  ...      844124      799516
4                     INDIA      Urban  ...      619588      604075
5  State - JAMMU & KASHMIR       Total  ...       11893        8189
6  State - JAMMU & KASHMIR       Rural  ...        8078        5802

[7 rows x 29 columns]

In [52]:
temp = 2
for i in range(9):
  df.loc[0][temp+1] = df.loc[0][temp]
  df.loc[0][temp+2] = df.loc[0][temp]
  temp+=3
df.head()

  Unnamed: 5 Unnamed: 6  ...          Unnamed: 32          Unnamed: 33
0        NaN     Rural/  ...  Religion not stated  Religion not stated
1        NaN      Urban  ...                Males              Females
2      INDIA      Total  ...              1463712              1403591
3      INDIA      Rural  ...               844124               799516
4      INDIA      Urban  ...               619588               604075

[5 rows x 29 columns]

In [53]:
for i in range(df.shape[1]):
  df.loc[0][i] = str(df.loc[0][i])
  df.loc[1][i] = str(df.loc[1][i])
  df.loc[1][i] = df.loc[0][i] + '_' + df.loc[1][i]
df.head()

  Unnamed: 5  ...                  Unnamed: 33
0        nan  ...          Religion not stated
1    nan_nan  ...  Religion not stated_Females
2      INDIA  ...                      1403591
3      INDIA  ...                       799516
4      INDIA  ...                       604075

[5 rows x 29 columns]

In [54]:
df.drop([0],axis=0,inplace=True)
df.reset_index(inplace=True)
del df['index']
df.head()

                 Unnamed: 5  ...                  Unnamed: 33
0                   nan_nan  ...  Religion not stated_Females
1                     INDIA  ...                      1403591
2                     INDIA  ...                       799516
3                     INDIA  ...                       604075
4  State - JAMMU & KASHMIR   ...                         8189

[5 rows x 29 columns]

In [55]:
df.loc[0][0] = 'Location'
df.columns = list(df.loc[0])
df.head()

                   Location  ...  Religion not stated_Females
0                  Location  ...  Religion not stated_Females
1                     INDIA  ...                      1403591
2                     INDIA  ...                       799516
3                     INDIA  ...                       604075
4  State - JAMMU & KASHMIR   ...                         8189

[5 rows x 29 columns]

In [56]:
df.drop([0],axis=0,inplace=True)
df.reset_index(inplace=True)
del df['index']
df.head()

                   Location  ... Religion not stated_Females
0                     INDIA  ...                     1403591
1                     INDIA  ...                      799516
2                     INDIA  ...                      604075
3  State - JAMMU & KASHMIR   ...                        8189
4  State - JAMMU & KASHMIR   ...                        5802

[5 rows x 29 columns]

In [57]:
df['Latitude'] = None
df['Longitude'] = None
#df[df['Location'] == 'State - ANDAMAN & NICOBAR ISLANDS '].index[0]
#df.head()

In [58]:
df[['temp','Location']] = df.Location.str.split("-",expand=True)
df.Location = df['Location'].str.strip()
del df['temp']
df.head()

          Location Rural/_Urban  ... Latitude Longitude
0             None        Total  ...     None      None
1             None        Rural  ...     None      None
2             None        Urban  ...     None      None
3  JAMMU & KASHMIR        Total  ...     None      None
4  JAMMU & KASHMIR        Rural  ...     None      None

[5 rows x 31 columns]

In [59]:
for i in range(3):
  df.loc[i][0] = 'India'
df.head()

          Location Rural/_Urban  ... Latitude Longitude
0            India        Total  ...     None      None
1            India        Rural  ...     None      None
2            India        Urban  ...     None      None
3  JAMMU & KASHMIR        Total  ...     None      None
4  JAMMU & KASHMIR        Rural  ...     None      None

[5 rows x 31 columns]

In [60]:
df['Location'] = df['Location'].replace('NCT OF DELHI','DELHI')

In [61]:
from geopy.geocoders import Nominatim
for i in range(df.shape[0]):
  address = df.loc[i][0]
  geolocator = Nominatim(user_agent="ny_explorer")
  location = geolocator.geocode(address)
  df.loc[i][29] = location.latitude
  df.loc[i][30] = location.longitude

In [62]:
df.head()

          Location Rural/_Urban  ... Latitude Longitude
0            India        Total  ...  22.3511   78.6677
1            India        Rural  ...  22.3511   78.6677
2            India        Urban  ...  22.3511   78.6677
3  JAMMU & KASHMIR        Total  ...  33.5574   75.0615
4  JAMMU & KASHMIR        Rural  ...  33.5574   75.0615

[5 rows x 31 columns]

In [63]:
df.dtypes

Location                                                             object
Rural/_Urban                                                         object
Total_Persons                                                        object
Total_Males                                                          object
Total_Females                                                        object
Hindu_Persons                                                        object
Hindu_Males                                                          object
Hindu_Females                                                        object
Muslim_Persons                                                       object
Muslim_Males                                                         object
Muslim_Females                                                       object
Christian_Persons                                                    object
Christian_Males                                                      object
Christian_Females                                                    object
Sikh_Persons                                                         object
Sikh_Males                                                           object
Sikh_Females                                                         object
Buddhist_Persons                                                     object
Buddhist_Males                                                       object
Buddhist_Females                                                     object
Jain_Persons                                                         object
Jain_Males                                                           object
Jain_Females                                                         object
Other religions and persuasions (incl.Unclassified Sect.)_Persons    object
Other religions and persuasions (incl.Unclassified Sect.)_Males      object
Other religions and persuasions (incl.Unclassified Sect.)_Females    object
Religion not stated_Persons                                          object
Religion not stated_Males                                            object
Religion not stated_Females                                          object
Latitude                                                             object
Longitude                                                            object
dtype: object

In [64]:
for i in df:
  if i in ['Location','Rural/_Urban','Latitude','Longitude']:
    continue
  else:
    df[i] = df[i].astype('int')
df.dtypes

Location                                                             object
Rural/_Urban                                                         object
Total_Persons                                                         int64
Total_Males                                                           int64
Total_Females                                                         int64
Hindu_Persons                                                         int64
Hindu_Males                                                           int64
Hindu_Females                                                         int64
Muslim_Persons                                                        int64
Muslim_Males                                                          int64
Muslim_Females                                                        int64
Christian_Persons                                                     int64
Christian_Males                                                       int64
Christian_Females                                                     int64
Sikh_Persons                                                          int64
Sikh_Males                                                            int64
Sikh_Females                                                          int64
Buddhist_Persons                                                      int64
Buddhist_Males                                                        int64
Buddhist_Females                                                      int64
Jain_Persons                                                          int64
Jain_Males                                                            int64
Jain_Females                                                          int64
Other religions and persuasions (incl.Unclassified Sect.)_Persons     int64
Other religions and persuasions (incl.Unclassified Sect.)_Males       int64
Other religions and persuasions (incl.Unclassified Sect.)_Females     int64
Religion not stated_Persons                                           int64
Religion not stated_Males                                             int64
Religion not stated_Females                                           int64
Latitude                                                             object
Longitude                                                            object
dtype: object

In [65]:
df['Total_sr'] = np.ceil(df['Total_Females']/df['Total_Males']*1000)
df['Hindu_sr'] = np.ceil(df['Hindu_Females']/df['Hindu_Males']*1000)
df['Muslim_sr'] = np.ceil(df['Muslim_Females']/df['Muslim_Males']*1000)
df['Christian_sr'] = np.ceil(df['Christian_Females']/df['Christian_Males']*1000)
df['Sikh_sr'] = np.ceil(df['Sikh_Females']/df['Sikh_Males']*1000)
df['Buddhist_sr'] = np.ceil(df['Buddhist_Females']/df['Buddhist_Males']*1000)
df['Jain_sr'] = np.ceil(df['Jain_Females']/df['Jain_Males']*1000)
df['Other religions and persuasions (incl.Unclassified Sect.)_sr'] = np.ceil(df['Other religions and persuasions (incl.Unclassified Sect.)_Females']/
                                                                               df['Other religions and persuasions (incl.Unclassified Sect.)_Males']*1000)
df['Religion not stated_sr'] = np.ceil(df['Religion not stated_Females']/
                                         df['Religion not stated_Males']*1000)
df.head()

          Location  ... Religion not stated_sr
0            India  ...                  959.0
1            India  ...                  948.0
2            India  ...                  975.0
3  JAMMU & KASHMIR  ...                  689.0
4  JAMMU & KASHMIR  ...                  719.0

[5 rows x 40 columns]

In [ ]:
#installing conda into colab https://plotly.com/python/orca-management/
!pip install plotly>=4.7.1
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

#package to show static image(such as in github)
# !conda install -c plotly plotly-orca

In [80]:
import plotly.express as px
fig = px.scatter(px.data.iris(), x="sepal_width", y="sepal_length", color="species")
fig.show("svg")

In [81]:
import cufflinks as cf
df = cf.datagen.lines()
fig = df.figure(kind='scatter')
fig.show("svg")